<div id="deleteModal" class="modal-overlay">
    <div class="modal-content-wrapper">
        <h5>削除してよろしいですか？</h5>
        <div class="modal-button-group">
            <button id="cancelDelete" class="btn btn-secondary">キャンセル</button>
            <button id="confirmDelete" class="btn btn-danger">削除</button>
        </div>
    </div>
</div>

<div id="batchDeleteModal" class="modal-overlay">
    <div class="batch-modal-content-wrapper">
        <h5>以下の応募者を削除してよろしいですか？</h5>
        <ul id="selectedWorkersList"></ul>
        <div class="modal-button-group">
            <button id="cancelBatchDelete" class="btn btn-secondary">キャンセル</button>
            <button id="confirmBatchDelete" class="btn btn-danger">削除</button>
        </div>
    </div>
</div>