<footer class="container-fluid bg-secondary mt-auto">
    <div class="row pt-4 " id="foot">
        <div class="col-4 col-md-3 ">
            <img src="/images/05.png" alt="first img" class="img-fluid">
        </div>
    </div>

    <% if(!currentUser){ %>
        <div class="row justify-content-center align-items-center mt-3">
            <div class="col-10 col-md-6">
                <div class="text-center mb-5">
                    <h1>
                        <p>運営会社 株式会社セキュア</p>
                        <p>ケアサポートセキュア</p>
                    </h1>
                    <h2>
                        <p>訪問介護、障がい者居宅介護、重度訪問介護</p>
                    </h2>
                    <h3>〒557-0025</h3>
                    <h3>大阪市西成区長橋1ー10ー14</h3>
                    <h3>TEL 06-6654-9680 FAX 06-6654-9760</h3>
                    <div class="officeNumber">
                        <h3>事業所番号</h3>
                        <h3>訪問介護:27722304255</h3>
                        <h3>行動援護:2712302146</h3>
                        <h3>障がい者居宅介護・重度訪問介護:2712302146</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center align-items-center">
            <div class="col-10 col-md-6">
                <div class="text-center mb-5">
                    <h1>
                        <p>せきゅあ訪問看護ステーション</p>
                    </h1>
                    <h2>
                        <p>訪問看護</p>
                    </h2>
                    <h3>〒557-0025</h3>
                    <h3>大阪市西成区長橋3-3-28</h3>
                    <h3>TEL 06-7777-3625 FAX 06-6964-8302</h3>
                    <div class="officeNumber">
                        <h3>事業所番号</h3>
                        <h3>訪問看護:2763310941</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center align-items-center">
            <div class="col-10 col-md-6">
                <div class="text-center mb-4">
                    <h1>相談支援事業所せきゅあ</h1>
                    <h3>〒557-0025</h3>
                    <h3>大阪市西成区鶴見橋2丁目3番25号</h3>
                    <h3>TEL 06-6585-9805 FAX 06-6585-9806</h3>
                    <div class="officeNumber">
                        <h3>事業所番号</h3>
                        <h3></h3>
                    </div>
                </div>
            </div>
        </div>
        <% } %>

</footer>