<nav class="navbar navbar-expand-md sticky-top bg-primary d-flex">
    <div class="container-fluid">
        <a href="/applicant/topPage" class="text-decoration-none navbar-brand">
            <div class="navbar-brand">せきゅあ訪問看護ステーション</div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <% if(!currentUser){ %>
            <div class="collapse navbar-collapse text-end" id="navbarSupportedContent">
                <a href="tel:06-7777-3625" class="btn bg-primary btn-outline-dark navbar-btn-phone m-2 ms-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                    </svg>
                </a>
                <button type="button" class="btn bg-primary btn-outline-dark m-2">
                    <a href="/applicant/form" class="text-decoration-none text-dark">応募する</a>
                </button>
            </div>
            <% }else{ %>
                <div class="collapse navbar-collapse text-end" id="navbarSupportedContent">
                    <a class="btn bg-primary btn-outline-dark mx-2 ms-auto" href="/admin/logout">ログアウト</a>
                    <a class="btn bg-primary btn-outline-dark mx-2" href="/admin/changeAdmin">アカウント情報変更</a>
                </div>
                <% } %>
</nav>