<% layout('layouts/boilerplate') %>

<div class="container-fluid">
    <div class="row justify-content-center m-5">
        <div class="col-lg-6 col-md-8 custom-bg p-4">
            <h1 class="text-center">お問い合わせフォーム</h1>
            <form action="/admin/applicants" method="POST" novalidate class="needs-validation">
                    <div class="m-3">
                        <label class="mb-2 h5" for="name">名前</label>
                        <input class="form-control" type="text" id="name" name="applicant[name]" placeholder="田中花子" required>
                        <div class="invalid-feedback">
                            名前を入力してください。
                        </div>
                    </div>
                    <div class="m-3">
                        <label class="mb-2 h5" for="birthDate">生年月日<small class="text-muted">(例: 1990/01/01)</small></label>
                        <input class="form-control" type="date" name="applicant[birthDate]" id="birthDate" required>
                        <div class="invalid-feedback">
                            生年月日を選択してください。
                        </div>
                    </div>
                    <div class="m-3">
                        <label class="mb-2 h5" for="phoneNumber">電話番号</label>
                        <input class="form-control" type="tel" name="applicant[phoneNumber]" id="phoneNumber"
                            placeholder="09012341234" pattern="0[0-9]{9,10}" maxlength="11" required>
                        <div class="mt-1" id="phoneNumberInvalidFeedback">
                            0から始まる10桁または11桁の電話番号を入力してください。
                        </div>
                        <div class="mt-1" id="phoneNumberWarning">
                            電話番号は0から始まる必要があります
                        </div>
                        <div class="mt-1" id="phoneDuplicateWarning">
                            この電話番号は既に申し込み頂いております
                        </div>
                    </div>
                    <div class="m-3">
                        <label class="mb-2 h5" for="requirements">要件</label>
                        <textarea class="form-control" id="requirements" name="applicant[requirements]" rows="5" placeholder="ご要望やご質問がありましたらご記入ください"></textarea>
                    </div>
                    <h5 class="m-3">職業</h5>
                    <div class="col-md-6 ms-5">
                        <% for (let category of categories){ %>
                            <div class="mb-3 form-check">
                                <input type="radio" name="applicant[category]" id="applicant:<%= category %>"
                                    value="<%= category %>" <% if(category === categories[0]){ %>checked <% } %>>
                                <label class="form-check-label" for="applicant:<%= category %>">
                                    <%= category %>
                                </label>
                            </div>
                            <% } %>
                    </div>
            
            
                    <div class="text-center">
                        <button class="btn btn-success w-50 mt-3 text-white">送信</button>
                    </div>
            </form>
        </div>
    </div>
</div>
    <script src="/javascripts/applicant/form.js"></script>
    
    <!-- const today = new Date();
    const maxDate = today.toISOString().split("T")[0];
    const minDateObj = new Date();
    minDateObj.setFullYear(today.getFullYear() - 100);
    const minDate = minDateObj.toISOString().split("T")[0];
    
    const birthDateInput = document.getElementById("birthDate");
    birthDateInput.max = maxDate;
    birthDateInput.min = minDate;
    
    birthDateInput.addEventListener(
    "focus",
    function () {
    if (!this.value) {
    this.value = "2000-01-01";
    }
    },
    { once: true }
    );
    
    
    
    const phoneNumberInput = document.getElementById("phoneNumber");
    const phoneNumberWarning = document.getElementById("phoneNumberWarning");
    const phoneNumberInvalidFeedback = document.getElementById(
    "phoneNumberInvalidFeedback"
    );
    const phoneDuplicateWarning = document.getElementById("phoneDuplicateWarning");
    let isDuplicate = false;
    
    
    
    
    
    phoneNumberInput.addEventListener("input", function (e) {
    let value = this.value.replace(/[０-９]/g, function (s) {
    return String.fromCharCode(s.charCodeAt(0) - 0xfee0);
    });
    value = value.replace(/[^0-9]/g, ""); -->