<% layout('layouts/boilerplate') %>

<div class="container-fluid">
    <div class="row justify-content-center m-5">
        <div class="col-lg-6 col-md-8 custom-bg p-4">
            <div class="success-page">
                <div class="success-image">
                    <img src="/images/06.png" alt="登録成功">
                </div>
                <h1 class="success-title"> Success </h1>
                <div class="success-message">
                    <p class="success-text">お問い合わせありがとうございます。</p>
                    <p class="success-text">登録が完了しました。</p>
                    <p class="success-text">数日後までに電話連絡が来ます。</p>
                    <p class="success-text">よろしくお願いします。</p>
                </div>
            </div>
        </div>
    </div>
</div>
